$font-stack: "Poppins", Arial, Helvetica, sans-serif;
$dark-blue: rgb(40, 40, 130);
$blue: rgb(25, 120, 240);
$red: #b20a37;
$grey: #ccc;
// $light-grey: #eee;
$light-grey: #f9f9f9;
$dark-grey: rgb(29, 29, 31);
$dark-grey2: rgba(0, 0, 0, 0.80);
