@use 'base'; // Sass partial
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: base.$font-stack;
}

.App {
  min-height: 100%;
}

section {
  padding: 3rem;
}

h1 {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}

// --------------------
// USEFULL CLASSES
// --------------------
.flex {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.space-b {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

// --------------------
// HEADER / NAV / FOOTER
// --------------------
header {
  min-height: 100vh;
  .greetings {
    margin: auto 0;
  }
}

.navbar,
footer {
  min-height: 7vh;
  border: 2px solid black;
  background-color: base.$dark-grey;
  color: white;
  padding: 0 20px;
}

.navbar .links {
  min-width: 250px;
}
