@use 'base';

.btn {
  padding: 10px;
  background-color: white;
  border: 2px solid base.$dark-grey;
  border-radius: 2px;
  outline: none;
  transition: padding 400ms ease-in-out;
  &:hover {
    padding: 10px 30px;
    color: white;
    border: 2px solid black;
    background-color: base.$dark-grey;
    cursor: pointer;
    font-weight: bold;
  }
  &:active {
    background-color: white;
    border: 2px solid base.$dark-grey;
    border-radius: 2px;
    color: black;
  }
}
