@use 'base';

.contact-section {
  h1 {
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }
}

.form-contact {
  border: 2px solid base.$grey;
  border-radius: 2px;
  padding: 2rem;
  label {
    display: inline;
  }
  input,
  textarea {
    padding: 10px;
    border: 1px solid base.$grey;
    border-radius: 2px;
    min-width: 300px;
  }
}
