@use 'base';

// TOP : GREETINGS
.greetings-section {
  min-height: 92vh;
  padding: 3rem 5rem;
  background-image: url(https://images.unsplash.com/photo-1486882430381-e76d701e0a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -13rem;
  .greetings {
    margin: auto 0;
    h1 {
      margin-bottom: 1rem;
      color: base.$dark-grey2;
    }
  }
}

// MID : PROJECT SECTION
.project-section {
  background-color: base.$light-grey;
}

.grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project-item {
  border: 1px solid base.$grey;
  .img {
    width: 100%;
  }
  .description {
    text-align: center;
  }
  .stack {
    font-weight: lighter;
  }
}

.card-bottom {
  padding: 1rem;
}

// BOT : CONTACT SECTION
.form-contact {
  border: 2px solid base.$grey;
  border-radius: 2px;
  padding: 2rem;
  input,
  textarea {
    padding: 10px;
    border: 1px solid base.$grey;
    border-radius: 2px;
    min-width: 300px;
    margin-bottom: 1rem;
  }
}
