@use 'base';

// ----------------------------------------
// ALL SECTIONS
section:nth-of-type(even) {
  background-color: base.$light-grey;
}

section:not(:first-of-type) h1 {
  border-bottom: 2px solid base.$dark-grey;
  margin-bottom: 2rem;
  width: fit-content;
  font-size: 2rem;
}

// ----------------------------------------
// TOP : GREETINGS
.greetings-section {
  min-height: 92vh;
  background-image: url(/bg-greetings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -15rem;
  background-position-x: 20rem;
  .greetings {
    margin: auto 0;
    color: base.$dark-grey;
    h1,
    h2 {
      margin-bottom: 2rem;
    }
    .hello {
      font-size: 3rem;
    }
  }
}

.stack {
  flex-wrap: wrap;
  img {
    height: 100px;
    box-shadow: 0 0 5px base.$grey;
    padding: 10px;
    border-radius: 1rem;
    margin: 2rem 0;
  }
}

// ----------------------------------------
// MID : PROJECT SECTION
.grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-item {
  // border: 2px solid base.$dark-grey;
  box-shadow: 0 0 6px base.$grey;
  border-radius: 5px;
  .img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .description {
    margin-top: 1rem;
    text-align: center;
  }
  .stack {
    margin-top: 1rem;
    font-weight: lighter;
    text-align: center;
  }
}

.card-bottom {
  padding: 1rem;
  align-items: center;
}

// ----------------------------------------
// BOT : CONTACT SECTION
.contact-options {
  align-items: flex-start;
}

.contact-informations {
  min-width: fit-content;
  width: 50%;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    margin-top: 1rem;
  }
  a {
    color: base.$blue;
    margin: 5px;
  }
  a:hover {
    color: base.$dark-blue;
  }
}

.contact-form {
  border-radius: 2px;
  width: 40%;
  input,
  textarea {
    padding: 10px;
    border: 1px solid base.$grey;
    border-radius: 2px;
    min-width: 300px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .contact-options {
    flex-direction: column;
  }
  .contact-form {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    button {
      margin: auto;
    }
  }
  .contact-informations {
    width: 100%;
  }
}
