@use 'base';

.project-section {
  background-color: base.$light-grey;
  padding: 2rem;
  h1 {
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }
}

.grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-item {
  border: 1px solid base.$grey;
  .img {
    width: 100%;
  }
  .description {
    text-align: center;
  }
  .stack {
    font-weight: lighter;
  }
}

.card-bottom {
    padding: 1rem;
}